body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 25px;
background-image: url(imge-table.jpg);
background-size: cover;
text-align: center;
color:white;
font-weight: bold;
margin-top: 14%;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}
button{
  background-color: goldenrod;
  font-size: 20px;
  width: 200px;
  color: green;
  font-weight: bold;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
button:active{
  transform: translateY(2);
  background-color: rgb(228, 185, 74);
  color: rgb(14, 129, 14);
}